<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InvoiceManagement.Properties.Settings.InvoiceProjectConnectionString"
            connectionString="Data Source=MORNINGSTAR\SQLEXPRESS;Initial Catalog=InvoiceProject;User ID=dthanh;Password=123321"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	
	<Project Sdk="Microsoft.NET.Sdk">

		<PropertyGroup>
			<OutputType>WinExe</OutputType>
			<TargetFramework>net6.0-windows</TargetFramework>
			<Nullable>enable</Nullable>
			<UseWindowsForms>true</UseWindowsForms>
			<ImplicitUsings>enable</ImplicitUsings>


		</PropertyGroup>

		<PropertyGroup>
			<OutputType>WinExe</OutputType>
			<TargetFramework>net48</TargetFramework>
			<Nullable>enable</Nullable>
			<UseWindowsForms>true</UseWindowsForms>
			<ImplicitUsings>enable</ImplicitUsings>
			<UseWPF>False</UseWPF>
			<PlatformTarget>AnyCPU</PlatformTarget>
		</PropertyGroup>
		<PropertyGroup>

			<LangVersion>10</LangVersion>
			<Nullable>enable</Nullable>
			<NullableContextOptions>enable</NullableContextOptions>
			<StartupObject></StartupObject>
			<PackAsTool>False</PackAsTool>
		</PropertyGroup>
		<ItemGroup>
			<Reference Include="System.Configuration" />
			<Reference Include="System.Data.DataSetExtensions" />
			<Reference Include="System.Net.Http" />
		</ItemGroup>
	</Project>
</configuration>

